@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Inter", sans-serif;
}

main {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

header {
    height: 70px;
    display: flex;
    justify-content: center;
}

svg {
    width: 180px;
    height: 180px;
    fill: none;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

#behindCircle {
    stroke: red;
    stroke-width: 15px;
    stroke-opacity: 0.4;
}

#frontCircle {
    stroke: green;
    stroke-width: 15px;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-dasharray: 1;
    stroke-dashoffset: 0.5;
}

.resultContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.resultContainer p{
    margin: 0;
}

#logo {
    width: 200px;
    margin-top: 30px;
}

#resultVoteContainer {
    height: 180px;
    width: 180px;
    margin-top: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#resultStar {
    text-align: center;
}

.resultStarVote {
    width: 30px;
}

#resultInfoContainer {
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
}

#resultInfoBenchmark {
    color: white;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 15px;
}

#resultInfoBenchmark li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
    padding-right: 15px;
}

.liTotalQuestion {
    border: none !important;
    padding: 0 !important;
}

@media only screen and (min-width: 1024px) {
    .resultStarVote {
        width: 60px;
    }

    #resultInfoContainer {
        padding-left: 53px;
        padding-right: 53px;
    }

    #resultInfoBenchmark {
        gap: 53px;
    }

    #resultInfoBenchmark li {
        padding-right: 53px;
    }

    #resultInfoBenchmark b {
        font-size: 30px;
    }

}